# sbt
target/

# IntelliJ
.idea/
*.iml
*.class

# macOS files
.DS_Store

# Logfiles
*.log

# External library
ingestion.jar

# task3 data
data

# python
__pycache__
*.png

# result and data files
*.hdf5
*.txt
*.json
